<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/settingsxml.css')}}">


<!--LEFT PAGE -->
<div id="left_page">    
    <div class="form-group">
        <label>Environment:</label>
        <select name="query" class="form-control" id="env_select" onchange="env_select(this.value)">
            {% for env in env_list %}
                <option id="hello" value="{{env}}">{{env}}</option>
            {% endfor %}
        </select>
        <br>
    </div>
    <br>
</div>  <!--LEFT PAGE ENDS -->


<!--LEFT-PAGE MESSAGE CENTER -->
<div id="msgCenter">
    {% if ERROR_MSG %}
    <div class="alert alert-danger">
        {{ERROR_MSG}}
    </div >
	{% elif SVN_MSG %}
    <div class="alert alert-success" id="msg-disp">
        {{SVN_MSG}}
    </div >
    {% elif WARN_MSG %}
    <div class="alert alert-warning">
    	<strong>Remember:</strong><br/>
    	After making any changes, UPDATE first & then COMMIT.<br/>
    </div>
    {% endif %}
</div>
<!--End Message center for Errors & Updates -->


