<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ app_name }}</title>
		<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui-1.11.4.min.js') }}"></script>
		<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ccc.css') }}">
		{{ JSGlue.include() }}
	</head>
	<body class="bodyClass">
		<div class="container">
			<div class="header">
				{% block navbar %}{% endblock %}
			</div>
			<div class="contentContainer">
				<div class="leftNavPanel">
					{% block leftNavPanel %}{% endblock %}
				</div>
				<div class="rightNavPanel">
					{% block rightNavPanel %}{% endblock %}
				</div>
				<script type=text/javascript src="{{ url_for('static', filename='js/socketio-1.3.6.min.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static', filename='js/datatables-1.10.11.min.js')}}"></script>
				<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
				<script type=text/javascript src="{{ url_for('static', filename='js/handlers.js') }}"></script>
				<script type=text/javascript src="{{ url_for('static', filename='js/events.js') }}"></script>
				<script type=text/javascript src="{{ url_for('static', filename='js/settingsxml.js') }}"></script>

				<div class="clearBoth"></div>
			</div>
			<div class="footer">
				<span class="copyright">&copy; 2016 CCC Information Services Inc. All rights reserved. </span>
				<span class="footerURL"><a href="javascript:openHomePage()">www.cccis.com</a></span>
			</div>
		</div>
	</div>
</body>
</html>