#stream_text {
  background-color: black;
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  border:2px solid black;
  border-radius: 5px;
  box-shadow: 0 7px 6px -6px #777;
  /* Browser-specific */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 7px 6px -6px #777 ;
  -webkit-box-shadow: 0 7px 6px -6px #777;
  font-family: Verdana;
  font-size: 10px;
  color: white;
  max-height: 500px;
  overflow: auto;
}

.error_msg {
  position: relative;
  display: none;
  background-color: orange;
  margin: 4px 4px 4px 4px;
  padding: 8px 8px 8px 8px;
  border: 1px solid black;
  clear: both;
}

.dataTables_filter {
  float: left;
}

.dataTables_wrapper {
  font-family: Verdana;
  display: inline-block;
  width: 100%;
  max-height: 100%;
}

.streaming{
  display:none;
}

.rollers{
  display: block;
  width: 100%;
  text-align: left;
}

.spinners{
  max-width: 5%;
  max-height: 5%;
  display: none;
}

h2{
  font-weight: bold;
  margin: 0;
  font-size: 1.2em;
}

table.tablesorter tbody tr td{
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
}

table.tablesorter tbody tr:nth-child(odd) td{
    background-color: #e5e6e6;
}

table.tablesorter tbody tr:nth-child(even) td{
    background-color: #f2f3f3;
}

table.tablesorter thead tr th{
  text-align: left;
}

/*table.tablesorter tbody tr td.up, table.tablesorter tbody tr td.down, table.tablesorter tbody tr td.error{
  color: transparent;
}*/